*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: linear-gradient(20deg, #f87, #fb6);
  background-repeat: no-repeat;
}

.app {
  background-color: white;
  max-width: 600px;
  margin: 25px auto;
  border-radius: 20px;
  overflow: hidden;
}

@-webkit-keyframes animation-top {
  from {
    transform: translate(0px, -50px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes animation-top {
  from {
    transform: translate(0px, -50px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@-webkit-keyframes animation-bottom {
  from {
    transform: translate(0px, 50px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes animation-bottom {
  from {
    transform: translate(0px, 50px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@-webkit-keyframes animation-left {
  from {
    transform: translate(-50px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes animation-left {
  from {
    transform: translate(-50px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@-webkit-keyframes animation-right {
  from {
    transform: translate(50px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes animation-right {
  from {
    transform: translate(50px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
.card {
  position: relative;
  border-radius: 20px;
  margin: 20px 20px;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(1, 1, 1, 0.5);
  -webkit-animation-name: animation-left;
          animation-name: animation-left;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.card img {
  width: 100%;
  height: auto;
}
.card .card__text {
  position: absolute;
  font-size: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-animation-start {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.card-animation-top {
  -webkit-animation-name: animation-top;
          animation-name: animation-top;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.card-animation-bottom {
  -webkit-animation-name: animation-bottom;
          animation-name: animation-bottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.card-animation-left {
  -webkit-animation-name: animation-left;
          animation-name: animation-left;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.card-animation-right {
  -webkit-animation-name: animation-right;
          animation-name: animation-right;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
